@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 261 77% 95%;
    --foreground: 261 5% 10%;
    --card: 261 50% 90%;
    --card-foreground: 261 5% 15%;
    --popover: 261 77% 95%;
    --popover-foreground: 261 95% 10%;
    --primary: 261 43.5% 45.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 223 30% 85%;
    --muted-foreground: 261 5% 40%;
    --accent: 223 30% 80%;
    --accent-foreground: 261 5% 15%;
    --destructive: 0 77% 50%;
    --destructive-foreground: 261 5% 90%;
    --border: 261 30% 65%;
    --input: 261 30% 50%;
    --ring: 261 43.5% 45.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 261 50% 10%;
    --foreground: 261 5% 90%;
    --card: 261 50% 10%;
    --card-foreground: 261 5% 90%;
    --popover: 261 50% 5%;
    --popover-foreground: 261 5% 90%;
    --primary: 261 43.5% 45.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 261 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 223 30% 25%;
    --muted-foreground: 261 5% 65%;
    --accent: 223 30% 25%;
    --accent-foreground: 261 5% 90%;
    --destructive: 0 77% 50%;
    --destructive-foreground: 261 5% 90%;
    --border: 261 30% 50%;
    --input: 261 30% 50%;
    --ring: 261 43.5% 45.1%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
